@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

.list-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
		color: gray;
		font-weight: 300;
	}

	div {
		margin: 10px;
	}
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
