@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');

* {
	font-family: 'Roboto', sans-serif;
}

.loading {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.select-wrapper {
	position: relative;
	width: 350px;
	// Dropdown icon
	&::after {
		color: black;
		content: '▾';
		margin-right: 10px;
		pointer-events: none;
		position: absolute;
		right: 10px;
		top: 7px;
		font-size: 20px;
	}
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 0;
	cursor: pointer;
	padding: 12px;
	width: 100%;
	font-size: 18px;
	border: 1px solid rgb(187, 187, 187);
	&:focus {
		color: black;
	}

	&::-ms-expand {
		display: none;
	}
}
